{% block content %}
<header>
    <div class="container-fluid">
        <div class="d-flex bd-highlight mb-3 head">
            <div class="p-1 bd-highlight item-1">
                <a class="logo" href="https://www.instagram.com/kseniasheen/"><i class="fab fa-instagram fa-3x"></i></a>
            </div>
            <div class="p-2 bd-highlight item-2"> 
                <a class = "number" href="tel:+7(987)336-71-33">+7(987)336-71-33</a>
            </div>                     
            <div class = "ml-auto p-1 bd-highlight menu">
                <nav class=" navbar navbar-expand-md navbar-dark p-0 m-0" id="mainNav">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"    data-target="#navbarResponsive" aria-controls="navbarResponsive" data-label-expanded="Open" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link " href="/foto/about/">Обо мне</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/foto/portfolio/">Портфолио</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/foto/price/">Цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/foto/specialoffer/">Акции</a>
                        </li>
                    </ul>
                    </div>
                </nav>
            </div>
        </div>     
    </div>
</header>
{% endblock %}