@font-face {
  font-family: 'caveat';
  src: url("../fonts/LainyDay.4b3defbd252c.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
	/*используйте этот цвет, если у Вас фон черный или около того*/
	background-color: #F3F3E2;
    height: 100vh;
}
body {
    background-image: linear-gradient(to bottom, rgba(243, 238, 226, 0.8),rgba(245, 245, 220, 0.5)), url("img/bg-masthead.b4751d282f20.jpg");
    background-position: top;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    min-height: 100%;
    height: 100hv;
    }


.item-1 {
    display: flex;
}
.logo {
    color: black;
    margin: auto;
}
.logo:hover {
    color:rgba(127, 71, 31);
}
.item-2 {
    display: flex;
    align-items: flex-end;
}
.number {
    font-family: 'caveat';
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin: auto;
}
.number:visited {
    color: rgba(127, 71, 31);
    text-decoration: none;
}
.number:hover {
    text-decoration: none;
    color:rgba(127, 71, 31);
}
.menu {
    font-family: 'caveat';
    font-size: 36px;
    display: flex;
    font-weight: bold;
}

button {
    margin: auto;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 5px;
    padding: 1 6;
    border: 2px solid white !important;
}

button:focus {
    outline: none !important;
}

nav {
    justify-content: flex-end;
}
.navbar {
    min-height: auto;
    margin: auto;
}
 .navbar-nav .nav-item .nav-link {
    color:#000;
}
 .navbar-nav .nav-item .nav-link:hover {
    color:rgba(127, 71, 31);
}

li {
    text-align: end;
}
.name {
    justify-content: center;
}

.ksu {
    font-family: 'caveat';
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
    color: #462706;
}

.ksu:hover{
    text-decoration: none;
    color:rgba(127, 71, 31);
}

.photo {
    justify-content: center;
}

div p {
    font-family: 'caveat';
    font-weight: bold;
    font-size: 36px;
    color: black;  
}

.portfolio {
 max-width: 80%;
}

.img-responsive {
    height: auto;
}  

.portfolio-box {
    display: block;
}

.portfolio-box .portfolio-box-caption {
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    opacity: 0;
    
    background: rgba(127, 71, 31, .5);
    transition: opacity 0.25s ease;
}

 .project-category {
    font-family: 'caveat';
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

 .portfolio-box:hover .portfolio-box-caption {
    
    opacity: 1;
}

@media screen and (max-width: 915px) {
   
    .number {
        font-size: 20px;
    }
    
    .menu {
        font-size: 18px;
    }
    .item-1 {
        height: 100%;
    }
    .item-2 {
        height: 100%;
    }

    .ksu {
        font-size: 40px;
    }
    .portfolio-box .portfolio-box-caption {
        opacity: 1;
        transition: none;
        background: rgba(127, 71, 31, .2);
        align-items: flex-end;
    }
}
@media screen and (max-width: 406px) {
   
    .number {
        font-size: 15px;
    }
    
    .menu {
        font-size: 20px;
    }

    .ksu {
        font-size: 35px;
    }
     div p {
        font-size: 20px;
    }
    .item-1 {
        height: 100%;
    }
    .item-2 {
        height: 100%;
    }
     .project-category {
        font-size: 1.5rem;

}
